{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "amd": true,
    "es6": true,
    "node": true,
    "mocha": true,
    "commonjs": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "semi": [ "error" ],
    "comma-dangle": [ "error", "never" ],
    "comma-style": [ "error", "last" ],
    "func-call-spacing": [ "error", "never" ],
    "indent": [ "error", 2 ],
    "linebreak-style": [ "error", "unix" ],
    "spaced-comment": [ "error", "always" ],
    # "valid-jsdoc": [ "error" , {
    #   "prefer": { "return": "returns" },
    #   "requireReturn": false,
    #   "requireReturnDescription": false
    # }],
    # "require-jsdoc": [ "warn", {
    #   "require": {
    #     "FunctionDeclaration": true,
    #     "MethodDefinition": true,
    #     "ClassDeclaration": true,
    #     "ArrowFunctionExpression": false
    #   }
    # }]
  }
}
