@import "../lib/styles/uswds";
@import "styleguide";
@import "docs";
@import "github-gist";

// -----------------------------------------------------------------------------

.usa-header {
  background-color: #112e51;
  
  .usa-logo a {
    color: white;
  }
}

.sub-header {
  position: relative;
}
